@import url("../style.css");

.principal {
    padding: 145px 24px 48px;
}

.principal_login_cabecalho {
    margin-bottom: 40px;
}

.principal_login_cabecalho_paragrafo {
    margin-bottom: 8px;
}

.principal_login_cabecalho_titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.principal_login_formulario {
    display: flex;
    flex-direction: column;
}

.principal_login_formulario_campo-email {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

#email {
    display: block;
    background-color: var(--segunda-cor);
    color: var(--primeira-cor);
    padding: 16px;
    border: 1px solid var(--quarta-cor);
    border-radius: 4px;
    font-size: 1rem;
}

.principal_login_formulario_campo-senha {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

#senha {
    display: block;
    background-color: var(--segunda-cor);
    color: var(--primeira-cor);
    padding: 16px;
    border: 1px solid var(--quarta-cor);
    border-radius: 4px;
    font-size: 1rem;
}

.principal_login_formulario_campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

#lembrar {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.principal_login_formulario_campo_link-esqueceu {
    color: var(--quarta-cor);
}

.principal_login_formulario_campo_link-esqueceu:hover {
    color: var(--primeira-cor);
    transition: 0.5s;
}   

.principal_login_formulario_botao-entrar {
    background-color: var(--primeira-cor);
    color: var(--terceira-cor);
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.principal_login_formulario_botao-entrar:hover {
    background-color: var(--quarta-cor);
    transition: 0.5s;
}

.principal_login_cadastrar {
    text-align: center;
    margin-top: 64px;
}

.principal_login_cadastrar_link {
    color: var(--quarta-cor);
}

.principal_login_cadastrar_link:hover {
    color: var(--primeira-cor);
    transition: 0.5s;
}   