@import url("../style.css");

.principal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 130px 24px 32px;
}

.principal_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 360px;
    color: var(--terceira-cor);
}

.conteudo_1 {
    background: black url(../../images/verdansk.jpg) center center no-repeat scroll;
    background-size: cover;
    border-radius: 4px;
}

.conteudo_2 {
    background: black url(../../images/xbox.jpg) center center no-repeat scroll;
    background-size: cover;
    border-radius: 4px;
}

.conteudo_3 {
    background: black url(../../images/xbox.jpg) center center no-repeat scroll;
    background-size: cover;
    border-radius: 4px;
}

.conteudo_4 {
    background: black url(../../images/xbox.jpg) center center no-repeat scroll;
    background-size: cover;
    border-radius: 4px;
}

.principal_conteudo_noticia {
    background-color: var(--quarta-cor);
    padding: 10px 20px 20px;
    border-radius: 0px 0px 4px 4px;
}

.principal_conteudo_noticia_data {
    margin-bottom: 12px;
}

.principal_conteudo_noticia_manchete {
    color: var(--segunda-cor);
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 2rem;
}