@import url("../style.css");

.principal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 130px 24px 32px;
}

.principal_conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal_conteudo_titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.principal_conteudo_paragrafo {
    text-align: justify;
}

.principal_conteudo_imagem {
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .principal {
        padding: 140px 10vw 32px;
    }
}