/**
	COD ARTICLE RTE SPAN STYLES - /apps/atvi/callofduty/editorial/components/article-rich-text/clientlibs/css/styles.less
*/
.article-rich-text .line-fade {
  display: flex;
  flex: 1;
  position: relative;
  margin: 0 auto 25px;
}
.article-rich-text .line-fade:after {
  content: '';
  flex-grow: 1;
  margin: 0 0 0 10px;
  background: linear-gradient(90deg, #f3f4f5 0%, transparent 100%);
  background-size: 100% 1px;
  background-position: 0% 93%;
  background-repeat: repeat-x;
}
.article-rich-text .color-red {
  color: #FF2E2E;
}
.article-rich-text .color-green {
  color: #00B005;
}

/**
	COD ARTICLE RTE REDACTED STYLES - /apps/atvi/callofduty/editorial/components/article-rich-text/clientlibs/css/redacted.less
*/
.redact-length-s,
.redact-length-m,
.redact-length-l {
  position: relative;
  display: inline-block;
  height: 100%;
}
.redact-length-s {
  width: 7.5rem;
}
.redact-length-s > .redact-style-01,
.redact-length-s > .redact-style-02,
.redact-length-s > .redact-style-03,
.redact-length-s > .redact-style-04,
.redact-length-s > .redact-style-05,
.redact-length-s > .redact-style-06 {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
  aspect-ratio: 5;
}
.redact-length-s > .redact-style-01 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S01.webp");
}
.redact-length-s > .redact-style-02 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S02.webp");
}
.redact-length-s > .redact-style-03 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S03.webp");
}
.redact-length-s > .redact-style-04 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S04.webp");
}
.redact-length-s > .redact-style-05 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S05.webp");
}
.redact-length-s > .redact-style-06 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S06.webp");
}
.redact-length-m {
  width: 11.25rem;
}
.redact-length-m > .redact-style-01,
.redact-length-m > .redact-style-02,
.redact-length-m > .redact-style-03,
.redact-length-m > .redact-style-04,
.redact-length-m > .redact-style-05,
.redact-length-m > .redact-style-06 {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-length-m > .redact-style-01 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M01.webp");
}
.redact-length-m > .redact-style-02 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M02.webp");
}
.redact-length-m > .redact-style-03 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M03.webp");
}
.redact-length-m > .redact-style-04 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M04.webp");
}
.redact-length-m > .redact-style-05 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M05.webp");
}
.redact-length-m > .redact-style-06 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M06.webp");
}
.redact-length-l {
  width: 15rem;
}
.redact-length-l > .redact-style-01,
.redact-length-l > .redact-style-02,
.redact-length-l > .redact-style-03,
.redact-length-l > .redact-style-04,
.redact-length-l > .redact-style-05,
.redact-length-l > .redact-style-06 {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-length-l > .redact-style-01 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L01.webp");
}
.redact-length-l > .redact-style-02 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L02.webp");
}
.redact-length-l > .redact-style-03 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L03.webp");
}
.redact-length-l > .redact-style-04 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L04.webp");
}
.redact-length-l > .redact-style-05 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L05.webp");
}
.redact-length-l > .redact-style-06 {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L06.webp");
}
.redact-style-01,
.redact-style-02,
.redact-style-03,
.redact-style-04,
.redact-style-05,
.redact-style-06 {
  position: relative;
  display: inline-block;
  height: 100%;
}
.redact-style-01 > .redact-length-s,
.redact-style-01 > .redact-length-m,
.redact-style-01 > .redact-length-l {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-style-01 > .redact-length-s {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S01.webp");
}
.redact-style-01 > .redact-length-m {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M01.webp");
}
.redact-style-01 > .redact-length-l {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L01.webp");
}
.redact-style-02 > .redact-length-s,
.redact-style-02 > .redact-length-m,
.redact-style-02 > .redact-length-l {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-style-02 > .redact-length-s {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S02.webp");
}
.redact-style-02 > .redact-length-m {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M02.webp");
}
.redact-style-02 > .redact-length-l {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L02.webp");
}
.redact-style-03 > .redact-length-s,
.redact-style-03 > .redact-length-m,
.redact-style-03 > .redact-length-l {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-style-03 > .redact-length-s {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S03.webp");
}
.redact-style-03 > .redact-length-m {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M03.webp");
}
.redact-style-03 > .redact-length-l {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L03.webp");
}
.redact-style-04 > .redact-length-s,
.redact-style-04 > .redact-length-m,
.redact-style-04 > .redact-length-l {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-style-04 > .redact-length-s {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S04.webp");
}
.redact-style-04 > .redact-length-m {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M04.webp");
}
.redact-style-04 > .redact-length-l {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L04.webp");
}
.redact-style-05 > .redact-length-s,
.redact-style-05 > .redact-length-m,
.redact-style-05 > .redact-length-l {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-style-05 > .redact-length-s {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S05.webp");
}
.redact-style-05 > .redact-length-m {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M05.webp");
}
.redact-style-05 > .redact-length-l {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L05.webp");
}
.redact-style-06 > .redact-length-s,
.redact-style-06 > .redact-length-m,
.redact-style-06 > .redact-length-l {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
.redact-style-06 > .redact-length-s {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_S06.webp");
}
.redact-style-06 > .redact-length-m {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_M06.webp");
}
.redact-style-06 > .redact-length-l {
  content: url("../../../../../../content/dam/atvi/callofduty/cod-touchui/blog/common/pen-effect/RedactedGraphics_L06.webp");
}

/**
	COD ARTICLE RTE BANNER STYLES - /apps/atvi/callofduty/editorial/components/article-rich-text/clientlibs/css/banner.less
*/
.bannerLabel {
  position: relative;
  color: #000;
  background: #fff !important;
  text-align: center;
  word-break: keep-all;
  display: inline-block;
}
@media (min-width: 600.02px) {
  .bannerLabel {
    padding: 4px 24px 5px 24px;
    transform: scale(0.75) translateX(calc(-17% + 18px));
  }
  .bannerLabel:before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 16px);
    top: 0;
    left: -8px;
    padding: 0px 8px;
    border-width: 0px 4px;
    border-style: solid;
    border-color: #FFFFFF;
  }
}
@media (max-width: 600px) {
  .bannerLabel {
    padding: 4px 8px 4px 8px;
    transform: scale(0.75) translateX(-17%);
    margin-bottom: -4px;
  }
}
@media (min-width: 600.02px) {
  .cmp-text h1:first-of-type .bannerLabel,
  .cmp-text h2:first-of-type .bannerLabel,
  .cmp-text h3:first-of-type .bannerLabel,
  .cmp-text h4:first-of-type .bannerLabel,
  .cmp-text h5:first-of-type .bannerLabel,
  .cmp-text h6:first-of-type .bannerLabel,
  .cmp-text p:first-of-type .bannerLabel {
    display: none;
  }
}
@media (max-width: 600px) {
  .cmp-text h1:nth-of-type(2) .bannerLabel,
  .cmp-text h2:nth-of-type(2) .bannerLabel,
  .cmp-text h3:nth-of-type(2) .bannerLabel,
  .cmp-text h4:nth-of-type(2) .bannerLabel,
  .cmp-text h5:nth-of-type(2) .bannerLabel,
  .cmp-text h6:nth-of-type(2) .bannerLabel,
  .cmp-text p:nth-of-type(2) .bannerLabel {
    display: none;
  }
}
.text-white .bannerLabel {
  color: #FFF;
}
/*
// COD Article RTE class name
.banner-label .cmp-text {
    //display: flex;//grid;

    .media-breakpoint-up(mobile, {
        display: grid;
        gap: 18px;
        //display: grid;
        grid-template-columns: auto auto;//auto 1fr;
        //column-gap: 10px;//14px;
        //justify-content: space-between;

        // banner label (1st line in rte)
        > *:nth-child(1) {
            grid-row:1;
            grid-column:2;
            //order: 2;
        }

        // header (2nd line in rte)
        > *:nth-child(2) {
            grid-row:1;
            grid-column:1;
            //order: 1;
        }
        // any remaining text in lines 3+ should span entire rte
        > *:nth-child(n+3) {
            //order:
        }

        p + h2 {
            //margin-top: -3px;
        }

    });

    .media-breakpoint-down(mobile, {
        display: flex;
        flex-direction: column;
        gap: 4px;
    });
}

.text-white .bannerLabel {
    color: #FFF;
}

.bannerLabel {
    position: relative;
    color: #000;
    background: #fff !important;
    text-align: center;

    .media-breakpoint-up(mobile, {
        .heading-sm();
        padding: 4px 24px 5px 24px;//5px 24px 6px 24px;

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: ~"calc(100% + 16px)";
            top: 0;
            left: -8px;
            padding: 0px 8px;
            border-width: 0px 4px;
            border-style: solid;
            border-color: #FFFFFF;
        }

    });

    .media-breakpoint-down(mobile, {
        .heading-xs();
        padding: 4px 8px 4px 8px;
    });

}

*/

