@font-face {
  font-family: 'Hitmarker Text VF';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker VF';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Text Regular';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Text Italic';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Text Medium';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Text Bold';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Condensed Regular';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Condensed Light';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Condensed Medium';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Condensed Bold';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Condensed Black';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Normal Regular';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Normal Light';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Normal Medium';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Normal Bold';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Normal Black';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Wide Regular';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Wide Light';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Wide Medium';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Wide Bold';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hitmarker Wide Black';
  src: url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.woff2') format('woff2'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.woff') format('woff'), url('../../global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/**
    Call of Duty Global Site Styles
   /apps/atvi/callofduty/global/clientlibs/clientlib-site/css/site.less

**/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-rendering: optimizeLegibility;
  font-display: swap;
  font-family: "Hitmarker Text Regular", Arial;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow: visible !important;
}
body code {
  font-family: monospace;
  background: #f4f5f6;
  border-radius: 0.4rem;
  font-size: 86%;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

@keyframes ping-pulse {
  /*0% {
		box-shadow:
            0 0 0 4px #393939,
            0 0 0 4px rgba(255, 255, 255, 0.8);
	}

	20% {
		box-shadow:
            0 0 0 4px #393939,
            0 0 0 6px rgba(255, 255, 255, 0.7);
	}

	70% {
		box-shadow: 
            0 0 0 4px #393939,
            0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 
            0 0 0 4px #393939, 
            0 0 0 4px rgba(255, 255, 255, 0);
	}*/
  0% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 4px rgba(215, 0, 0, 0.8);
  }
  20% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 6px rgba(215, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 10px rgba(215, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 4px #393939, 0 0 0 4px rgba(215, 0, 0, 0);
  }
}
@keyframes ping-start {
  from {
    outline-offset: 0;
    outline: 0 solid transparent;
  }
  to {
    outline-offset: 4px;
    outline: 2px solid #D70000;
  }
}
@keyframes ping-delay {
  from {
    outline-offset: 4px;
    outline: 1px solid #D70000;
  }
  to {
    outline-offset: 4px;
    outline: 1px solid #D70000;
  }
}
@keyframes ping-end {
  from {
    outline-offset: 4px;
    outline: 1px solid #D70000;
  }
  to {
    outline-offset: 0;
    outline: 0 solid transparent;
  }
}

.cod-editorial-agegate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #222;
}
.cod-editorial-agegate .form {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding: 1em;
  position: absolute;
  top: 50% !important;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .cod-editorial-agegate .form {
    min-width: 320px;
    padding: 0;
  }
}
.cod-editorial-agegate .fields {
  width: 100%;
}
.cod-editorial-agegate .field-label {
  display: none;
}
.cod-editorial-agegate .month-input,
.cod-editorial-agegate .day-input,
.cod-editorial-agegate .year-input {
  width: 22%;
}
.cod-editorial-agegate .year-input {
  margin-right: 0;
}
.cod-editorial-agegate .field {
  display: inline-block;
  font-size: 20px;
  padding: .3em;
  text-align: center;
  margin-right: .5em;
}
.cod-editorial-agegate .feedback-message {
  display: none;
  padding: 1em 0 0;
  color: #FFF;
}
.cod-editorial-agegate .submit-wrapper {
  margin: 24px 0 8px;
  display: block;
}
.cod-editorial-agegate .submit {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  font-family: "Hitmarker Text Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 0.88rem;
  letter-spacing: 0.05em;
  padding: 12px 24px;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #555;
  text-decoration: none;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (-ms-high-contrast: active) {
  .cod-editorial-agegate .submit {
    border: 2px solid currentcolor;
  }
}
.cod-editorial-agegate .submit:hover {
  background-color: #777;
}
.cod-editorial-agegate .dob-prompt {
  font-family: "Hitmarker Condensed Black", Arial;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.75rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  text-transform: unset;
  margin-bottom: 24px;
}
@media screen and (max-width: 640px) {
  .cod-editorial-agegate .form h2.dob-prompt {
    font-family: "Hitmarker Condensed Black", Arial;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }
  .cod-editorial-agegate .month-input,
  .cod-editorial-agegate .day-input,
  .cod-editorial-agegate .year-input {
    width: 15%;
  }
}

/**
	EDITORIAL CORE STYLES - /apps/atvi/callofduty/editorial/clientlibs/core/css/core.less
*/
#cdo-bar {
  display: none !important;
}
html,
body {
  background: #1b1b1b;
}
html footer,
body footer {
  background: transparent;
}
/*#cod-single-header .cod-header_cta {

	@media screen and (max-width: 600px) {
		display: none;
    }

}*/
@media screen and (max-width: 600px) {
  #cod-single-header .cod-header_cta a .cod-header_cta-desktop {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #cod-single-header .cod-header_cta a .cod-header_cta-mobile {
    display: block !important;
  }
}

