.rodape {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 32px;
    border-top: 2px solid var(--segunda-cor);
}

.rodape_link {
    color: var(--primeira-cor);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .rodape {
        flex-direction: row;
        justify-content: center;
        padding: 24px 10vw;
    }
}