.cabecalho {
    position: fixed;
    width: 100%;
    background-color: var(--terceira-cor);
    padding: 15px 24px;
    border-bottom: 2px solid var(--segunda-cor);
    box-sizing: border-box;
}

.cabecalho_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_container_redes-sociais {
    display: none;
}

.cabecalho_container_redes-sociais_twitter {
    width: 30px;
    height: 30px;
}

.cabecalho_container_redes-sociais_youtube {
    width: 30px;
    height: 30px;
}

.cabecalho_container_redes-sociais_twitch {
    width: 30px;
    height: 30px;
}

.cabecalho_container_logo {
    width: 130px;
}

.cabecalho_container_opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.cabecalho_container_opcoes_user {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.cabecalho_container_opcoes_search {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.cabecalho_container_opcoes_list {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.cabecalho_lista-menu {
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top: 15px;
}

.cabecalho_lista-menu.menu--ativo {
    display: flex;
}

.cabecalho_lista-menu li {
    padding: 5px 10px;
    border-radius: 5px;
}

.cabecalho_lista-menu li:hover {
    background-color: var(--quarta-cor);
    transition: 0.3s;
    cursor: pointer;
}

.cabecalho_lista-menu li:hover .cabecalho_lista-item {
    color: var(--segunda-cor);
    transition: 0.3s;
}

.cabecalho_lista-item {
    color: var(--primeira-cor);
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 15px 10vw;
    }
}

@media screen and (min-width: 992px) {
    .cabecalho {
        position: relative;
        padding: 15px 15vw;
    }

    .cabecalho_container_redes-sociais {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }

    .cabecalho_container_opcoes_user {
        width: 30px;
        height: 30px;
    }
    
    .cabecalho_container_opcoes_search {
        width: 30px;
        height: 30px;
    }
    
    .cabecalho_container_opcoes_list {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .cabecalho {
        padding: 15px 20vw;
    }
}