.cabecalho {
    position: fixed;
    width: 100%;
    background-color: var(--terceira-cor);
    padding: 15px 24px;
    border-bottom: 2px solid var(--segunda-cor);
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
}

.opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.list-botao {
    display: none;
}

.list {
    display: inline-block;
    background-image: url(../images/list.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.lista-menu {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.lista-item {
    color: var(--primeira-cor);
    text-decoration: none;
    text-transform: uppercase;
}

.list-botao:checked ~ .lista-menu {
    display: flex;
}