@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --fonte: "Nunito", sans-serif;
    --primeira-cor: #100F0F;
    --segunda-cor: #E2E2E2;
    --terceira-cor: #F9F9F9;
    --quarta-cor: #100f0f8f;
}

body {
    background-color: var(--terceira-cor);
    color: var(--segunda-cor);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 600;
}